# Clés et paramètres pour Pinecone
PINECONE_API_KEY=votre_cle_pinecone_ici
# PINECONE_CONTROLLER_HOST est optionnel si votre configuration Pinecone gère l'hôte automatiquement.
# PINECONE_CONTROLLER_HOST=https://controller.your-pinecone-domain.io
PINECONE_INDEX_NAME=formation-rag

# Clés pour les API de modèles LLM
HUGGINGFACE_API_KEY=votre_cle_huggingface_ici
GROQ_API_KEY=votre_cle_groq_ici
